body{
  background-color:#232323;
  margin:0;
  font-family: "Montserrat","Avenir";
}
.square{
  width: 30%;
  float:left;
  background-color: #800080;
  padding-bottom: 30%;
  margin:1.66%;
  border-radius:15%;
  transition: background 0.6s;

}
#colorDisplay{
  font-size:200%;
}
#container{
  max-width:600px;
  margin:20px auto;
}
h1{color:white;
text-align: center;
line-height:1.1;
font-weight: normal;
background:"#00BFFF";
margin:0;
padding: 20px 0 ;
text-transform: uppercase;
}
#message{
 display: inline-block;
 width: 20%; 
}
button{
   border: none;
   background: none;
   text-transform: uppercase;
   height:100%;
   font-weight: 700;
   letter-spacing: 1px;
   font-size: inherit;
   color:#8e24a3;
   transition: all 0.6s ;
   outline: none;
}
button:hover{
  color:black;
  background: linear-gradient(#7b4397 , #dc2430) ;
}

#stripe{background: white;
height:30px;
text-align: center;
color:black;
}
.selected{
  background: #51e6da;
  font-weight: bold;
}
.footer{
  margin-top: 500px;
  text-align: center;
  color: darkgray;
}